In [1]:
import os
import glob # used to list csv files in the directory
import pandas as pd

In [4]:
sample_data=pd.read_csv(r"C:\Users\Administrator\Desktop\Masters in CS\3rd sem\Data minning\Assignment 2\dataset\sample_submission.csv")
sample_data

   Sentence_id            Type
0  GERRES15609  Responsibility
1  PHERES15784  Responsibility
2  GERREQ10457     Requirement
3  GERSKL27235           Skill
4  HONSSK18415       SoftSkill

In [6]:
train_data=pd.read_csv(r"C:\Users\Administrator\Desktop\Masters in CS\3rd sem\Data minning\Assignment 2\dataset\train_data.csv")
train_data

,Unnamed: 0,Sentence_id,New_Sentence,Type
0,0,GERRES15609,Author and/or Review architecture/design and o...,Responsibility
1,1,PHERES15784,Should be able to develop custom dynamic shape...,Responsibility
2,2,GERREQ10457,Experience in working crosslly with a larger ...,Requirement
3,3,GERSKL27235,"Previous business experience, including but no...",Skill
4,4,HONSSK18415,Delivering fast and right the first time.,SoftSkill
...,...,...,...,...
60110,60110,UAERES18030,"In this position, you will utilize your progr...",Responsibility
60111,60111,GERRES3026,"In addition, this individual will be responsib...",Responsibility
60112,60112,INDSSK5492,Good problem solving skills.,SoftSkill
60113,60113,PHESSK15092,Good Excel knowledge .,SoftSkill
60114,60114,HONEDU1643,"Bachelors Degree in Electrical Engineering, M...",Education

In [9]:
test_data=pd.read_csv(r"C:\Users\Administrator\Desktop\Masters in CS\3rd sem\Data minning\Assignment 2\dataset\test_data.csv")
test_data

,Unnamed: 0,Sentence_id,New_Sentence
0,0,UAERES16346,Collaborate across all of DB&T practices and o...
1,1,COGREQ15586,Strong technology expertise in Identity and A...
2,2,UAEREQ12722,Strong knowledge on Service Virtualization.
3,3,COGSKL29155,Architect scalable data processing and analyti...
4,4,PHERES12551,"Map client organization, build outstanding rel..."
...,...,...,...
15024,15024,HONEXP17084,A minimum of 3 years of experience in Industri...
15025,15025,UAESSK45553,Track record of managing multiple projects wit...
15026,15026,GERSSK14317,"In addition, the candidate should have effecti..."
15027,15027,PHEREQ4980,Candidate should have sufficient knowledge on ...
15028,15028,PHESKL2893,Experience in deployment and upgrading & imple...

a] Merge the dataset into one. And divide the dataset as train, development and test.

In [11]:
#list all csv files only
csv_files = glob.glob(r'C:\Users\Administrator\Desktop\Masters in CS\3rd sem\Data minning\Assignment 2\dataset\*.csv')
csv_files

['C:\\Users\\Administrator\\Desktop\\Masters in CS\\3rd sem\\Data minning\\Assignment 2\\dataset\\sample_submission.csv',
 'C:\\Users\\Administrator\\Desktop\\Masters in CS\\3rd sem\\Data minning\\Assignment 2\\dataset\\test_data.csv',
 'C:\\Users\\Administrator\\Desktop\\Masters in CS\\3rd sem\\Data minning\\Assignment 2\\dataset\\train_data.csv']

In [13]:
#merging all the data files
merge_data = pd.DataFrame()
#append all files together
for data in csv_files:
    temp = pd.read_csv(data)
    merge_data = merge_data.append(temp, ignore_index=True)
merge_data

C:\Users\Administrator\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,New_Sentence,Sentence_id,Type,Unnamed: 0
0,NaN,GERRES15609,Responsibility,NaN
1,NaN,PHERES15784,Responsibility,NaN
2,NaN,GERREQ10457,Requirement,NaN
3,NaN,GERSKL27235,Skill,NaN
4,NaN,HONSSK18415,SoftSkill,NaN
...,...,...,...,...
75144,"In this position, you will utilize your progr...",UAERES18030,Responsibility,60110.0
75145,"In addition, this individual will be responsib...",GERRES3026,Responsibility,60111.0
75146,Good problem solving skills.,INDSSK5492,SoftSkill,60112.0
75147,Good Excel knowledge .,PHESSK15092,SoftSkill,60113.0
75148,"Bachelors Degree in Electrical Engineering, M...",HONEDU1643,Education,60114.0

In [14]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75149 entries, 0 to 75148
Data columns (total 4 columns):
New_Sentence    73750 non-null object
Sentence_id     75149 non-null object
Type            60120 non-null object
Unnamed: 0      75144 non-null float64
dtypes: float64(1), object(3)
memory usage: 2.3+ MB

In [15]:
split1 = int(0.8 * len(merge_data))
split2 = int(0.9 * len(merge_data))
train_data = merge_data[:split1]
dev_data = merge_data[split1:split2]
test_data = merge_data[split2:]

In [16]:
train_data

,New_Sentence,Sentence_id,Type,Unnamed: 0
0,NaN,GERRES15609,Responsibility,NaN
1,NaN,PHERES15784,Responsibility,NaN
2,NaN,GERREQ10457,Requirement,NaN
3,NaN,GERSKL27235,Skill,NaN
4,NaN,HONSSK18415,SoftSkill,NaN
...,...,...,...,...
60114,Comfortable with ambiguity and able to act wit...,GERSSK14283,SoftSkill,45080.0
60115,TITLE.],PHEEDU754,Education,45081.0
60116,o Devise the strategy to drive GESP and EMS co...,INDRES16861,Responsibility,45082.0
60117,1+ year experience in manufacturing or logist...,UAEEXP6427,Experience,45083.0
60118,Support of restructurings projects and Legal ...,COGRES40674,Responsibility,45084.0

In [17]:
test_data

,New_Sentence,Sentence_id,Type,Unnamed: 0
67634,"Experience on GD&T, Statistical Tolerance Anal...",HONSKL47706,Skill,52600.0
67635,Comunication skills.,UAESSK24452,SoftSkill,52601.0
67636,4+ years of experience in RF environment exper...,HONEXP26265,Experience,52602.0
67637,Experience with multi domain implementations.,UAEREQ20825,Requirement,52603.0
67638,"Skill set: SDLC and Agile Methodologies, PM mu...",COGREQ6417,Requirement,52604.0
...,...,...,...,...
75144,"In this position, you will utilize your progr...",UAERES18030,Responsibility,60110.0
75145,"In addition, this individual will be responsib...",GERRES3026,Responsibility,60111.0
75146,Good problem solving skills.,INDSSK5492,SoftSkill,60112.0
75147,Good Excel knowledge .,PHESSK15092,SoftSkill,60113.0
75148,"Bachelors Degree in Electrical Engineering, M...",HONEDU1643,Education,60114.0

In [18]:
dev_data

,New_Sentence,Sentence_id,Type,Unnamed: 0
60119,"Experience with Algorithms, Mathematics .",HONSSK25955,SoftSkill,45085.0
60120,Understand track and trace software solutions...,PHERES3779,Responsibility,45086.0
60121,Experience managing client facing projects bas...,COGRES6467,Responsibility,45087.0
60122,A driven and motivated personality with an in...,GERSSK7844,SoftSkill,45088.0
60123,8+ years of experience working with industria...,INDEXP20062,Experience,45089.0
...,...,...,...,...
67629,Integrate best practices in handling warehous...,UAERES44561,Responsibility,52595.0
67630,Implementation of automated testing platforms ...,INDRES11062,Responsibility,52596.0
67631,Experience with Bright Cluster Manager softwa...,HONSKL16627,Skill,52597.0
67632,Minimum 5+ years of experience in machine cont...,PHEEXP34729,Experience,52598.0
67633,Advanced degree in Management Information Syst...,HONEDU22141,Education,52599.0

In [19]:
y_train=train_data.drop(["New_Sentence","Sentence_id"],axis=1)
y_train

                 Type  Unnamed: 0
0      Responsibility         NaN
1      Responsibility         NaN
2         Requirement         NaN
3               Skill         NaN
4           SoftSkill         NaN
...               ...         ...
60114       SoftSkill     45080.0
60115       Education     45081.0
60116  Responsibility     45082.0
60117      Experience     45083.0
60118  Responsibility     45084.0

[60119 rows x 2 columns]

b] Build a vocabulary as list

In [22]:
# def build_vocab(category,data):
vocab = {}
for i in train_data['New_Sentence']:
    ele=str(i).split()
    for j in ele:
        word=j
        if (word in vocab) :
            vocab[word]+=1
        else:
            vocab[word]=1
# print(vocab)

In [24]:
for word in list(vocab):
    if vocab[word]<5:
        del vocab[word]

In [25]:
print(len(vocab)) #total number of documents
dict(list(vocab.items())[1:4])

9888

{'Collaborate': 115, 'across': 900, 'all': 1365}

c] Calculate the following probability

In [28]:
# finding the probability of occurences
def prob(col):
    num_of_sentences=0
    count=0
    for i in train_data['New_Sentence']:
        num_of_sentences+=1 # number of all sentences
    res=vocab[col]/num_of_sentences
    return res
# print(num_of_sentences)

In [33]:
prob_collaborate=prob('Collaborate')
print(prob_collaborate)

0.0019128728022754869

In [34]:
prob_across=prob('across')
print(prob_across)

0.014970308887373376

In [35]:
#conditional probability based on sentiment
num_responsibility = (train_data["Type"] == 'Responsibility').sum()
num_requirement = (train_data["Type"] == 'Requirement').sum()
num_skill = (train_data["Type"] == 'Skill').sum()
num_softskill = (train_data["Type"] == 'SoftSkill').sum()
num_edu = (train_data["Type"] == 'Education').sum()
num_exp = (train_data["Type"] == 'Experience').sum()
print(num_responsibility, num_requirement, num_skill, num_softskill, num_edu, num_exp)

11674 10598 5210 7191 3504 6913

In [36]:
cond_prob1=vocab['Collaborate']/num_responsibility
print(cond_prob1)

0.009850950830906287

d] calculate accuracy of the dev dataset